<h2>Todo App</h2>

<div style="display: flex; flex-direction: column;">
  <label>Description</label>
  <input #newNote style="width: 25%;">
</div>
<div style="display: flex; flex-direction: column; margin: 2% 0 2% 0;">
  <label>Group</label>
  <input #group style="width: 25%;">
</div>
<button (click)="addNotes(newNote.value,group.value)">Add Note</button>

<h3 *ngFor="let note of notes; index as i">
  <b>* {{note.description}}</b>
  <button (click)="deleteNotes(i)">Delete Note</button>
</h3>

<button (click)="signInWithGoogle()">Sign in with Google</button>

<button (click)="signOutFromGoogle()">Sign out</button>